body {
	background: white;
	font-family: 'Raleway', sans-serif;
}
/*Header and menu*/
#top-menu {
	top:0;
	border-bottom: 1px solid grey;

}

.navbar-brand {
	font-family: 'Fjalla One', sans-serif;
	font-size:2em;
	color: #575a5b;
}

.name {
	
	color: #1c4074;
}

.navbar {
	background-color: white;
}

.navbar-nav a{
	font-family: 'Nanum Gothic', sans-serif;
	color: grey;
	font-size: 1.5em;
}
.navbar-nav a:hover{
	font-family: 'Nanum Gothic', sans-serif;
	color: #1c4074;
	font-size: 1.5em;
}

/*Main Image*/
#home {
	background: #d6d6d6;
	width:100;
	color: black;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 30px;
	border-bottom: 1px solid grey;
}

/*Profile section*/

#profile {
	padding-bottom: 30px;
	border-bottom: 1px solid grey;
}

.profile-text {
	padding-top:10px;
	padding-bottom:10px;
	background: #d6d6d6;
	border-radius:10px;
}

/*Skills Section*/
#skills {
	padding-bottom: 30px;
	border-bottom: 1px solid grey;
}

.skills-container {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:5px;
	padding-right:5px;
	background: #d6d6d6;
	border-radius:10px;
}

/*Projects Section*/
.project {
	display:inline;
	padding-top:10px;
}

.project h2 {
	padding-left:10px;
}

.project a {
	font-size: 1.25em;
	padding-right:10px;
	color: #575a5b;
}

.project a:hover {
	padding-right:10px;
	text-decoration:none;
	color: #1c4074;
}

.project-title {
	background: #d6d6d6;
	border-radius: 10px;
}

.project-text {
	padding-top: 10px;
	padding-bottom: 10px;
}

.project-tech {
	border-top: 1px solid grey;
	padding-right:10px;
	color: #1c4074;
	font-weight:bold;
}

.login {
	color: #575a5b;
	font-weight: bold;
}

/*Footer Section*/
#footer {
	background: #d6d6d6;
}

.footer-link {
	font-size: 1.25em;
	padding-right:10px;
	color: #575a5b;
}

.footer-link:hover{
	font-size: 1.25em;
	text-decoration:none;
	padding-right:10px;
	color: #1c4074;
}

h1 {
	color: #575a5b;
	padding-bottom:10px;
}
/*
Available Google Fonts
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Fjalla One', sans-serif;
*/